@model Clinic_Management_System.Models.Appointment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppointmentID)
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppointmentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppointmentNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.doctor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.doctor.DoctorID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.patient.PatientId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AppointmentID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
